<select class="js-select-blue">
    <option value="" selected>Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
    <option value="">Option 4</option>
</select>

<select class="js-select-green">
    <option value="" selected>Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
    <option value="">Option 4</option>
</select>


<select class="js-select-blue" disabled>
    <option value="" selected>Option 1</option>
    <option value="">Option 2</option>
    <option value="">Option 3</option>
    <option value="">Option 4</option>
</select>

